<html>
    <head>
        <style>
        .a{
            background-color:rgb(192,192,240)
        }
        .b{
            border-top-left-radius:25px;
            border-top-right-radius:25px;
            border-bottom-left-radius:25px;
            border-bottom-right-radius:25px;
            border:2px solid black;
            height: 300px;
            width: 300px;
        }
        .d{
            border:2px solid black;
        }
        .f{
            border:2px solid black;
        }
        </style>
    </head>
    <body>
         <div class="a">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/09/d6/a2/45/lepakshi.jpg?w=500&h=500&s=1"class="b">
            <h2 class="c">Ananthapuramu</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRal7N6v2mAAfYT9fT5V-Hf7Ids58-qnorzVOt3eejkzQ&s"class="d">
            <h3 class="e">chapala pulusu</h3>
            <p>
                Generally in South India, this recipe is made in various ways using Tamarind juice. Each recipe has a distinctive taste and smell. But the Fish curry that my grandmother makes is very unique as she blends different spices together, powders it instantly and adds it to the curry in the end. So I am sharing my grandmother’s special recipe with you all.


                In yesteryear Andhra Fish recipes, garam masala was not used as much but later they started using it in the curries. Andhra Fish curry is known for its hot and sour taste, it tastes excellent with steaming hot Rice, Idli and Dosa. 
            <h4>RECIPE</h4>
            <ul>
               <li> Fry the masala ingredients on a low flame till they turn aromatic and blend them together and make a fine powder.</li>
               <li>Blend Onions and Green chillies to a fine paste in a mixie jar.</li>
               <li>Add Oil to a pan, add Curry Leaves, Onions and fry until the onions turn golden brown.</li>
               <li>Add Salt and Ginger Garlic paste. </li>
               <li>Now add Turmeric, Coriander Powder, Red Chilli Powder and fry.</li>
               <li>Add Tamarind juice and water and boil the ingredients on a high flame</li>
               <li>Arrange the fish pieces in this boiling mixture carefully and Lower the flame. Allow it to cook until the oil floats on top.</li>
               <li>In 15 mins, the gravy will thicken and the oil floats on top, now add chopped Coriander Leaves and Masala powder, and stir carefully without disturbing the Fish pieces. Leave it for another 5 minutes, and your tasty Fish Curry is ready to serve.</li>
            </ul>
            </p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiHWgqvaULg0n3riEXGRGU_REJKTJU4Y3plEmkAGidEA&s"class="f">
            <h3 class="g">gutti vankaya</h3>
            <p>
                gutti vankaya curry recipe | stuffed brinjal curry | gutti vankaya kura or koora with detailed photo and video recipe. an authentic and spicy curry recipe made with tender and small eggplant in a peanut and coconut-based gravy. the recipe mainly hails from the andhra cuisine or telugu cuisine but popular among other south indian states too. it is generally served with indian flatbread like roti or chapati but tastes good with rice too.
                <h4>RECIPE</h4>
                <ul>
                    <li>firstly, cut the brinjals in x-shape without taking off the stalk.</li>
                    <li>soak in water along with 1 tsp salt to avoid discolouring for 10 minutes.</li>
                    <li>meanwhile, prepare masala paste by roasting 3 tbsp peanuts until it turns crisp.</li>
                    <li>now add 2 tsp sesame seeds, 1 tbsp coriander seeds, 1 tsp cumin, ¼ tsp methi, 1 inch cinnamon, 2 pods cardamom and 4 clove.</li>
                    <li>roast on low flame until spices turn aromatic.</li>
                    <li>further, add 2 tbsp dry coconut and roast slightly.</li>
                    <li>cool completely and transfer to the blender.</li>
                    <li>also add 1 inch ginger, 3 clove garlic, ¼ onion, 1 tsp chilli powder, ¼ tsp turmeric and 1 tsp salt.</li>
                    <li>blend to a thick paste adding ¼ cup water.</li>
                    <li>now stuff in the prepared masala paste to all the brinjals and keep aside.</li>
                    <li>in a large kadai heat 3 tbsp oil and splutter 1 tsp mustard, 1 tsp cumin, 1 chilli and few curry leaves.</li>
                    <li>saute ½ onion until it changes colour slightly.</li>
                    <li>now add ¼ tsp turmeric and ½ tsp chilli powder. saute on low flame.</li>
                    <li>add in stuffed brinjal and saute gently.</li>
                    <li>cover and cook for 2-4 minutes stirring occasionally.</li>
                    <li>add in the leftover masala paste and saute well.</li>
                    <li>also, add ½ cup tamarind extract and mix well adjusting consistency as required.</li>                    <li>cover and simmer for 20 minutes stirring in between.</li>
                    <li>after completely cooked, the masala will ooze out the oil. add 2 tbsp coriander and mix well.</li>
                    <li>finally, enjoy gutti vankaya curry with roti or rice</li>
                </ul>
            </p>
            </div>
            </body>
            </html>