<HTML>
    <head>
        <style>
            .a{
    background-color:rgb(192,192,240);
}
.b{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid black;}


.d{

    border:2px solid black;
}
.f{
    border:2px solid ;
}
        </style>
    </head>
    <body>
        <div class="a">
            <img src="https://tse3.mm.bing.net/th?id=OIP.Izsh9hUXfO4G-n2jQKF2zgAAAA&pid=Api&P=0&h=180" class="b">
            <h2 class="c">ANAMAYYA</h2>
            <img src="https://tse2.mm.bing.net/th?id=OIP.d9Ws_hRXHbm-mbo7o6ZPiAHaEK&pid=Api&P=0&h=180" class="d">
            <h3 class="e"><u>ANNAMAYYA LADDU</u></h3>
            <p>Annamayya Laddu is a popular Sweet made with gram flour and widely consumed in South India. Annamayya laddu is a popular sweet in India, especially in South India. This laddu is rich in protein. Annamaya laddu is made from the choicest high quality handpicked unique ingredients. It has a simple recipe with best-loved ingredients like nuts, rock candy and raisins. This sweet delight is also prepared for offering god as prashads during special occasions and poojas.

                <H4>RECIPE</H4>
                <ul>
                    <li>STEP 1.
                        In a mixing bowl add 200gm of gram flour, 50 gm of ghee and water to form a batter.
                        STEP 2.
                        Now heat ghee in a pot for frying and with the help of a boondi maker drop small balls of the batter in the pot. Let the balls fry for 2-3 minutes in medium flame.
                        STEP 3.
                        Now after removing the boondi balls from the ghee and add cashew nuts and raisins to fry, remove and keep aside.
                        STEP 4.
                        In a mixer grinder take the boondi balls, mace, edible camphor and cardamoms and grind.
                        STEP 5.
                        Then in a pot add water and 1.5 cups of sugar. Let cook until the sugar is completely dissolved in the water.
                        STEP 6.
                        Add kalakund in the syrup and mix.
                        STEP 7.
                        Add the grinded boondi balls, mix in the syrup and mix for 2-3 minutes .
                        STEP 8.
                        Take the mixture out on a plate and let it cool completely. Once the temperature drops apply some ghee on your palms and make small laddu with the mix. The laddu's are ready.</li>
                    </ul></p>
                    <img src="https://tse4.mm.bing.net/th?id=OIP.w9bnI8W8Z6Gwesp8RMtMTQHaE8&pid=Api&P=0&h=180" class="f">
                    <h3><u></u>DADHOJANAM</h3>
                    <p>daddojanam recipe | andhra style curd rice | bagalabath with detailed photo and video recipe. a traditional temple style curd rice recipe made with mashed rice and whisked yogurt. it is typically made in south indian temple and served as prasadam and hence made with minimal and particular ingredients. having said that the dish can also be served as a lunch box meal or even for morning breakfast with leftover rice.
                        <h4>RECIPE</h4>
                        <UL>
                            <LI>firstly, in a pressure cooker take ½ cup rice and add 1½ cup water.
                                pressure cook for 5 whistles or until rice is cooked well.</LI>
                                <LI>once the pressure is released open the cooker and mash the rice smooth.
                                    transfer to the bowl and add ½ cup milk.</LI>
                                <LI>mix well making sure rice is well combined. adding milk helps to soften rice and also prevents curd rice from turning sour when kept for long time.
                                    allow it to rest for 5 to 10 minutes or until its cooled completely.</LI>
                                <LI>further, add 1 cup curd and ½ tsp salt. mix well.
                                    now prepare tempering by heating 2 tbsp oil.</LI>
                                <LI>add 1 tsp mustard, 1 tsp cumin, 1 tsp urad dal, 1 tsp chana dal, pinch hing, ½ tsp pepper and few curry leaves.
                                    splutter the tempering and pour over the curd rice.</LI>
                                <LI>mix well making sure everything is well combined. for prasadam do not add chilli, ginger and coriander.
                                    finally, daddojanam or temple style curd rice is ready for naivedyam.</LI>
                        </UL>
                    </p></div>
                    </body>
                    </HTML>