<HTML>
    <head>
        <style>
            .a{
    background-color:rgb(192,192,240);
}
.b{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid black;}


.d{
    
    border:2px solid black;
}
.f{
    border:2px solid black;
}
        </style>
    </head>
    <body>
        <div class="a">
            <img src="https://tse2.mm.bing.net/th?id=OIP.JkFDGJA1u0e7ybbQXgUomQHaEO&pid=Api&P=0&h=180" class="b">
            <h2 class="c">CHITTOOR</h2>
            <img src="https://tse1.mm.bing.net/th?id=OIP.EdJUp1XVi2JFqsit2iloFQHaEP&pid=Api&P=0&h=180" class="d">
            <h3 class="e"><u>CORN PATTI</u></h3>
            <p>Corn cutlet or corn patties is delicious crispy melt in the mouth patties made with mashed potatoes and stuffed with a spicy corn filling. These corn tikki are a famous monsoon snack in some parts of India, especially in Western India.
                <h4>RECIPE</h4>
                <ul>
                    <li>. First steam or cook 1 medium-sized corn cob till the kernels are tender and cooked well. Remove the corn kernels with a knife and keep them aside.

                        You can use American sweet corn or regular desi corn. You can steam in a stovetop pressure cooker or Instant pot or in a pan adding water as needed.

                        You can also use pack of uncooked corn kernels and steam them. I have never tried making this recipe with canned corn kernels as I prefer to use fresh ingredients.</li>
                    <LI>In a bowl or a small pan, take the cooked corn kernels. Add the following ingredients:

                        1 teaspoon finely chopped ginger
                        ½ teaspoon red chili powder Or 1 to 2 chopped green chilies (you can also add both, about 1 green chili and ¼ teaspoon red chili powder)
                        4 teaspoon chopped coriander leaves
                        ½ teaspoon chaat masala powder
                        1 teaspoon lemon juice
                        salt as required
                        </LI>
                    <LI>Mix well and check the taste. Add more of the spices or salt if required. This spiced Masaledaar corn stuffing tastes damn good on its own. I have not minced the corn. But if you want you can coarsely grind the corn in a mixer-grinder without the spices, coriander leaves etc.</LI>
                    <lI>In another bowl, peel and grate 3 medium-sized boiled potatoes and then mash them with a fork or potato masher.

                        You can boil the potatoes in a pan or stovetop pressure cooker or in an instant pot. Peel the potatoes when they are slightly hot or warm.

                        Make sure that there is no water logged in the potatoes. So drain them very well before you mash them. Let the mashed potatoes cool at room temperature.</lI>
                     <LI> Add 2 to 3 tablespoons rice flour, ¼ teaspoon cumin powder, ¼ teaspoon coriander powder, ¼ teaspoon red chili powder and salt as required.

                        I have used rice flour to bind the patties. You can also use cornstarch (called cornflour in India) to bind.

                        Other options are bread pulp (soaked and squeezed bread slices), breadcrumbs arrowroot flour and even gram flour (besan). Gram flour will give its taste to the cutlet.

                        You can also add buckwheat flour (kutttu ka atta), water chestnut flour (singhare ka atta). But remember the taste will change.</LI>   
                     <LI> Mix and then form equal sized balls from the mixture.</LI>
                     <LI> Take each ball and flatten it on your palm. Place a few teaspoons of corn stuffing in the center.</LI>
                     <LI> Cover the edges and shape them into medium or large patties. Before stuffing and shaping the patties, apply some oil to your palms. This method helps to shape the tikki and reduces the stickiness from the palms.</LI>
                     <LI> Place the stuffed corn cutlet in medium hot oil on a tava or griddle or skillet or a frying pan. I have shallow fried the patties. You can also pan-fry with less oil.

                        Use any neutral flavored oil for frying and keep the heat to medium.</LI>
                     <LI>When one side becomes golden and crisp, then turn over gently with a spatula and fry the other side.</LI>
                     <LI>Flip again when the second side is also golden and crisp. Flip the corn cutlet a few more times if needed, to get an even golden color and crisp texture.

                        In the photo below, the two patties that you see on the extreme right-hand side are potato-paneer patties.</LI>
                     <LI>Remove the fried aloo corn tikki on a paper kitchen napkin to remove excess oil.</LI>
                </ul></p>
                <img src="https://tse1.mm.bing.net/th?id=OIP.7fyGs6nDNKRveM8cKyML2wHaEB&pid=Api&P=0&h=180" class="">
                <h3>RAGGI MUDHA</h3>
                <P>
                    More a technique than a recipe, Ragi Mudde are healthy balls made from finger millet flour and water. They are a delicacy and a staple food mainly in Karnataka and in some parts of Tamil Nadu and Andhra Pradesh. These delicious and nutritious balls could be considered the original “protein bites,” intended to keep farmers and working folks full during the day.
                    <H4>RECIPE</H4>
                    <UL>
                        <LI>Firstly, in a small bowl take 2 tbsp ragi flour from 1 cup of flour. we will be using the remaining flour later.
                            Add ¼ cup water and prepare a smooth lump-free batter. keep aside.
                            In a large vessel take 1¾ cup water, ¼ tsp salt, and ½ tsp ghee.
                            Add in the prepared ragi flour mixture and stir continuously.
                            Stir until the mixture thickens and turns glossy. by doing this it prevents ragi flour from having lumps.
                            Once the mixture turns glossy, add the remaining ragi flour. make sure to spread and put the flour.
                            Do not touch the flour for 2 minutes and keep the flame on low.
                            Slightly spread the flour and allow to boil for 5 minutes. do not touch as there are chances for lumps to form.
                            Now take a wooden stick or rolling pin, and mix continuously. stir until the mixture comes together.
                            Cover and simmer for 3 minutes or until the mixture turns glossy.
                            Give a good mix again and make sure to check the mixture is non-sticky, indicating the flour is cooked well.
                            Cool slightly, and take a ball-sized mixture into ghee greased bowl. using a bowl makes it easy to handle the heat and can be shaped easily.
                            Shape to round ball with hand.
                            Finally, enjoy ragi mudde recipe with sambar.
                            </LI>
                    </UL></P>

                </div>
                </body></HTML>
        