<html>
<head> <link rel="stylesheet" href="krishna.css" />
<style>
    .a{
    background-color: rgb(192, 192, 240);
}
.b{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid black;
}
.d{
    border:2px solid black;
}
.f{
    border: 2px solid black;
}
</style></head>
<body>
<div class="a">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2utuOxvMDJoCUM2Cj7g-ZfUIJckic-dW8Vw&s" class="b">
<h2 class="C">KRISHNA</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNED63RlsZFUA3gRmi7uGOYkczgHBTKL8c6A&s"  class="d">
<h3 class="e"> <u>BANDHAR LADDU</u></h3>
<P>
    Bandar Laddu, also known as Thokkudu Laddu, is known for its unique methods of preparation in this town and stands out among several other variants of Besan Laddu that are available across the country. The soft yet crunchy laddu is the town’s favourite. It also received the recognition of a Geographical Indication (GI) tag in the food category in 2017.
    <H4>RECIPE></H4>
    <UL><LI>Mix chickpea flour with just enough water to make a stiff dough.</LI>
        <LI>Heat a deep pan with 1 cup ghee.</LI>
        <LI>Grease your murukku mold with ghee and fill the mold with a portion of the dough.</LI>
        <LI>When the ghee is hot, reduce the flame to medium and press the dough into the ghee and deep fry till crusty.</LI>
        <LI>Fry the remaining dough in the same way and crumble the murukku to pieces.
        Save the leftover ghee.</LI>
        <LI>Blend the murukku in a blender to make fine powder. Keep aside.</LI>
        <LI>Add jaggery to water and make syrup to one string consistency. Add the pound flour. Set this aside to cool.</LI>
       <LI>Once cool pound it again in batches.</LI>
       <LI>Add sugar and pound it for the third time in batches.</LI>
        <LI>Heat the remaining ghee and pour to the powder, mix well and add cardamom powder.</LI>
        <LI>Grease your palms with ghee and make circular balls.</LI>
        <LI>Store in an airtight container. Stays good for two weeks.

    </LI>

    </UL>
    </P>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRajQL5l8__VI1IQcLpQ02IXTTnkxImI9bLgQ&s" class="f">
    <h3><u>BANDHAR HALWA</u></h3>
    <p>
        Dripping with the ghee, embedded with nuts, a jelly-like softness, a subtle sweetness on the tongue —that is Bandar Halwa for you. The sweet is dark brown in colour and melts in the mouth, while also holding a slight crunch at the same time. This is yet another favourite sweet for those in the town and abroad.
        <ul>
            <li>Step 1 :
                Soak maida in 1.5 cups of water for 10 minutes.</li>
                <LI>Step 2 :
                In a heavy bottom pan, add 1tsp of ghee and fry cashews nuts in it.</LI>`
                <LI>Step 3 :
                Fry it till you get a nice aroma and the cashew turns brownish in color.</LI>
                <LI>Step 4 :
                Add jaggery and 1.5 cups of water to it. Let the mixture turn thick on low flame, allow it to cook for 20 minutes.</LI>
                <LI>Step 5 :
                Now add soaked maida and cook it for 20 minutes till it becomes thick. Add 1/2 cup ghee to it and mix well.</LI>
                <LI>Step 6 :
                Finally, add roasted cashew nuts and elaichi powder to it. Stir well.</LI>
                <LI>Step 7 :
                Let it simmer on low flame for 2 minutes.</LI>

        </ul>
    </p>