<HTML>
    <head>
        <style>
            .a{
    background-color:rgb(192,192,240);
}
.b{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid black;}


.d{
    
    border:2px solid black;
}
.f{
    border:2px solid black;
}
        </style>
    </head>
    <body>
        <div class="a">
            <img src="https://tse3.mm.bing.net/th?id=OIP.PBEXUVmXcaHxynKX4eojOwHaEK&pid=Api&P=0&h=180" class="b">
            <h2 class="c">SRI BALAJI(TIRUPATHI)</h2>
            <img src="https://tse2.mm.bing.net/th?id=OIP.LtAobani_XF4iINHFPUahQHaEK&pid=Api&P=0&h=180" class="d">
            <h3 class="e"><u>PULIHORA</u></h3>
            <p>
                Every one of us has a special association with Pulihora. A memory of the taste of Pulihora we had tried somewhere. And in South India, there is no auspicious occasion without Pulihora on the menu.
                
                
                <h4>RECIPE:</h4>
            <ul><li>Soak Tamarind in hot water and extract 250ml of Tamarind juice 

            </li>
            <LI>Wash rice and cook with two cups of water per cup of rice on three whistles.</LI>
            <LI>When the steam goes out of the rice, add Turmeric, Oil, Green Chillies, Curry Leaves and Salt while the rice is still hot.</LI>
           <LI>Grind Mustard Seeds, Red Chillies, Ginger and a little salt to a soft paste. (Before you grind, check out the tips)</LI> 
        <LI>
            
     Heat 2 tsp of Oil and roast Mustard Seeds and Fenugreek Seeds. Add curry leaves.</LI>
     <LI>Pour the Tamarind Extract and add grated Jaggery and cook until it becomes a thick paste.</LI>
     <LI>Once it is thick, add the Mustard Seeds paste and let it cook. After it is thoroughly cooked, switch off the stove, let it cool completely and then mix it well in the rice.</LI>
     <LI>For the second seasoning, heat ¼ cup Oil, add mustard and let them crackle. Then add Groundnuts, Bengal Gram and Black Gram and roast them.</LI>
     <LI>Add Red Chillies and Curry Leaves and fry them and add to the Rice. And your Prasadam Pulihora is ready.</LI>

        </ul>
            </p>
            <img src=https://tse3.mm.bing.net/th?id=OIP.vtk-y3y8Sw0EdNCnmofROQHaEK&pid=Api&P=0&h=180" class="F">
            <H3><U>KADAMBAM</U></H3>
            <P>
                Kadambam rice recipe for the Navaratri season, you can prepare this as prasadam. Kadambam is a medley of flavors and textures prepared with rice, toor dal and mixed vegetables and fresh ground spice mix. A no onion no garlic recipe, perfect for this festive season.
                <UL>
                    <LI>
                        Wash and soak all the legumes together overnight in water.
                        
                        Cook rice as you normally cook and keep it aside. If you do not know to cook rice, check how to cook rice. You can use any rice. I have used white raw rice.</LI>
                        <lI>Wash and chop all the vegetables into medium sized pieces. All the vegetables are chopped and kept ready below. In the picture below, you find peeled potatoes in the center, then brinjal, cluster beans, ash gourd, pumpkin, broad beans, chow chow and curry leaves. All the vegetables together measured 4 cups. You can add a little raw plantain (vazhaikkai) also.</lI>
                <LI>Cook colocasia separately, if adding. Peel the skin and cut into 2 or 3 pieces and keep it aside (adding colocasia is optional).</LI>
                <lI>Soak tamarind in a cup of hot water for 15-20 minutes.  Extract around 1 1/2 cup of tamarind juice by adding more water. Discard the pulp.</lI>
                <LI>Heat 1/2 tsp of oil and saute bengal gram, urad dal, coriander seeds, fenugreek, black pepper and red chillies on medium heat stirring continuously. Once dal turns golden brown, remove from heat.
                </LI>
                <lI>After it cools, powder it finely and keep it ready. This is the sambar podi we are going to use for this kadamba sadam.
                </lI>
                <LI>
                    Pressure cook tur dal with 1/4 tsp turmeric powder for 3 whistles. You can keep the legumes in a small cup along with the dal to save time (picture below). I have the habit of soaking dal for 20 minutes in hot water prior to cooking. In this way, the dal gets cooked to a mush and it also saves a lot of time and fuel.
                    Method</LI>
                <lI>Now in any heavy bottomed vessel, add all the vegetables (except colocasia),  1 1/4 cup of water and cook covered. Do not pressure cook as the vegetables will become mushy.

                    Once the vegetables are 3/4th cooked, switch off the heat.
                    </lI>
                    <LI>In a kadai or pan, heat 1 1/2 tbsp of sesame seed oil, add mustard seeds, when it splutters, add hing, slit green chilli and curry leaves.

                        Then add the vegetables (along with the water if any) and the tamarind extract.
                        </LI>
                    <lI>Add 1/4 tsp turmeric powder, salt needed and the cooked colocasia.  Boil for 5-6 minutes on medium heat.

                        Then add the sambar podi which we prepared and boil again on medium heat for another 5 minutes.</lI>
                    <LI>Kadamba Sadam-Kovil Kadamba Sadam Recipe-No Onion-No Garlic Recipe
                        September 30, 2016 by PadhuSankar 15 Comments</LI><LI>Mash the rice slightly when it is hot (not as you mash it for pongal). Then add to the kadamba sambar and mix well.

                            Cook on low heat, stirring from time to time until everything gets mixed well</LI>
                            <LI>Heat a tsp of sesame seed oil and fry turkey berry (sundakkai vathal) until crisp.

                                Add to the kadamba sadam. Then add a tsp of ghee and a tsp of sesame seed oil, mix well and switch off the heat.</LI>
                                <LI>Garnish with coriander leaves and enjoy hot kadamba sadam with papads, chips and raita.
                                </LI></UL>
                                </P>
                                </div>
                                </body>
                                </html>

                        
                           
                