<HTML>
    <head>
        <style >
            .a{
    background-color:rgb(192,192,240);
}
.b{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid black;}


.d{
    
    border:2px solid black;
}
.f{
    border:2px solid black;
}
        </style>
    </head>
    <body>
        <div class="a">
            <img src="https://tse4.mm.bing.net/th?id=OIP.e_88wbl9-CmdttzHIN3HLAHaE9&pid=Api&P=0&h=180" class="b">
            <h2 class="c">VISHAKAPATNAM</h2>
            <img src="https://tse2.mm.bing.net/th?id=OIP.Gn5X_rEqZ9Q03a3u7YCdcwHaEK&pid=Api&P=0&h=180" class="d">
            <h3 class="e"><u>MURI MIXTURE</u></h3>
            <p>
                Serving a pocketful of delicious street food, Mallikarjuna Rao, a 41-year-old muri mixture seller from Seetammadhara, Visakhapatnam, shares his story.

                With a menu as basic as muri (puffed rice) mixture and raw banana bhajji, I had started my bandi (cart) in 1999. Though I have had my share of struggles in this journey, my wife, Lakshmi, has stuck with me through thick and thin, ever since we got married. Twenty years down the road, I now have a larger cart and a bunch of customers who come from the other end of the city just to savour my muri mixture.
                
                <h4>RECIPE:</h4>
            <ul>
                
<li>Take a pan and add the puffed rice to it. Roast it well till they turn crispy. This is not mandatory if you have bought the puffed rice immediately as it will be crispy already.
</li>
<li>Now add 1 tbspn oil to the pan and add groundnut. Saute it well till it becomes golden brown
</li>
<li>Now in a mixing bowl, take the puffed rice. Add groundnuts, oil, chopped onions, salt, oil, red chilly powder and mix thoroughly.
Muri mixture - Andhra Bhel Puri recipe step 3 photo</li>
<li>Make sure you add lemon juice in the last and give it a quick stir and serve immediately else the puffed rice will become soft.
</li>
<li>Add coriander leaves on the top. Serve it in a plate or traditionally in a cone made out of paper.</li>
           </ul>
           </p>


     <img src="https://tse2.mm.bing.net/th?id=OIP.e_ov2RoE3r3jUFLFm1WKhAHaE8&pid=Api&P=0&h=180" class="f">
     <h3>GRIlled chicken</h3>
     <p>
        Delicious spicy grilled chicken made with heat from Chipotle pepper and paprika and coriander and touch of lime juice and lime zest. Perfect  meal with a salad or bowl or rice.
     <ul>
        <li>Buy and select best chicken to make perfect juicy grilled chicken. Also marinate the chicken for at least  1-2 hours.</li>
     <li>Best parts for grilling chicken are Breast (bone-in or boneless), Thighs, Drumsticks, and Wings. Also, you can use with bone-in and skin on </li>
    <li>Always chicken marinade consists of  Fat (oil/yogurt/buttermilk), Acid (vinegar/ lime or lemon juice) and Seasonings (which includes spices and herbs).</li>
     <li>Pre heat the grill to medium high heat.</li>
    </ul>
</p>
</div>
     </body>
     </HTML>